@import "../../theme/sizes";
@import "../../theme/_colors.scss";
@import "../../theme/globals.scss";

.btn {
  border: none;
  border-radius: $radius;
  padding: 1.9rem;
  font-weight: 700;
  text-align: center;
  min-width: 22.1rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn--flex {
  width: 100%;
}

.btn--primary {
  @include addColorScheme($primary, $primary-focus, $primary-content);
}
.btn--secondary {
  @include addColorScheme($secondary, $secondary-focus, $secondary-content);
}
.btn--accent {
  @include addColorScheme($accent, $accent-focus, $accent-content);
}
.btn--neutral {
  @include addColorScheme($neutral, $neutral-focus, $neutral-content);
}
.btn--base {
  @include addColorScheme($base-100, $base-200, $primary);
}
