@use "../../theme/fonts";
@import "../../theme/sizes";
@import "../../theme/breakpoints";
@import "../../theme/colors";
@import "../../theme/globals";

.hero {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  place-items: inherit;
  gap: $size-lg;

  @include mq($tablet-sm) {
    flex-direction: row;
  }
}

.hero__content {
  max-width: 45.9rem;
  text-align: center;
  @include mq($tablet-sm) {
    text-align: left;
  }
}

.hero__desc {
  margin-top: $size-md;
}

.hero__btn-group {
  margin-top: $size-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: $size-lg;
  row-gap: $size-sm;
  @include mq($phone) {
    flex-direction: row;
  }
  @include mq($tablet-sm) {
    justify-content: flex-start;
  }

  .download-icon {
    border: solid 1px $base-300;
    border-radius: 50rem;
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
  }
}

.hero__img-container {
  display: grid;
  place-items: center;
  flex: 1;
}

.hero__img {
  width: calc(61rem / 3);
  height: calc(64.4rem / 3);

  @include mq($phone) {
    width: calc(61rem / 2.5);
    height: calc(64.4rem / 2.5);
  }

  @include mq($tablet) {
    width: 100%;
    height: auto;
  }

  @include mq($laptop) {
    width: 61rem;
    height: 64.4rem;
  }
}
