@import "../../theme/sizes";
@import "../../theme/breakpoints";
@import "../../theme/colors";
@import "../../theme/globals";

.logo-list {
  width: 100%;
  padding: $size-xl 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: $size-lg;
  row-gap: $size-md;

  @include mq($tablet) {
    justify-content: space-between;
  }
}
