$primary: #5454d4;
$primary-focus: #8b81ff;
$primary-content: #ffffff;

$secondary: #ff7143;
$secondary-focus: #ffa370;
$secondary-content: #ffffff;

$accent: #9f3919;
$accent-focus: #d66743;
$accent-content: #ffffff;

$neutral: #eae9f2;
$neutral-focus: #f8f8f8;
$neutral-content: #696871;

$base-100: #ffffff;
$base-200: #f7f7fb;
$base-300: #e7e7e7;
$base-focus: #19191b;
$base-content: #696871;
