@use "fonts";
@use "breakpoints";

@mixin addColorScheme($color, $focus, $content) {
  color: $content;
  background-color: $color;
  &:focus,
  &:hover {
    background-color: $focus;
  }
}

@mixin decreaseFontSize($size, $number: 4) {
  font-size: calc($size - ($size / $number));
}

@mixin mq($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin fontSize($size) {
  @include decreaseFontSize($size);
  @include mq(breakpoints.$tablet) {
    & {
      font-size: $size;
    }
  }
}

@mixin gap($size, $column: false, $row: false) {
  & > * {
    &:not(&:first-child) {
      @if $column {
        margin-top: $size;
      }
      @if $row {
        margin-left: $size;
      }
    }
  }
}
