.button {
  color: #fff;
  border-radius: 0.7em;
  border: none;
  padding: 1em 2em;
  font-weight: 700;
}

.button-primary {
  background: #5454d4;
}

.button-secondary {
  background: #ff7143;
}

.button-accent {
  background: #9f3919;
}

.button-neutral {
  color: #696871;
  background: #eae9f2;
}

.button-base {
  color: #19191b;
  background: #f7f7fb;
}
